################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestConsole/TestConsole/obj/Debug
/TestConsole/.vs/TestConsole/v16/TestStore/0
/TestConsole/.vs/TestConsole/v16
